@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
     margin: 5%;
     padding: -15%;
    box-sizing: content-box;
      background-color: #f8dfee;
      color: #050c38;
}

h1{
    border: 4px solid #050c38;
    border-radius: 500px;
    margin: 5%;
    padding: 10%;
    background-color: #e02f75;
    color: #050c38;
    font-size: 130px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

p{
    border: 2px solid #1b2062;
    background-color: #fccbf0;
   font-size: 22px;
   margin: 0%;
   padding: 1%;
}

strong{
    font-size: 25px;
    color: #e02f75;
}

h2{
    border: 2px solid #1b2062;
    background-color: #e02f75;
    border-radius: 50px;
   font-size: 70px;
   text-align: center;
    color: #fccbf0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10%;
}

p{
   font-size: 22px;
   text-align: center; 
   color: #050c38;
}


h3{
    font-size: 30px;
    text-align: center;
    box-sizing: content-box;
}

a{
    font-size: 30px;
 }


h4{
    font-size: 30px;
}

h5{
    font-size: 50px;
    text-align: center;
    color: #e02f75;
}

p1{
    font-size: 25px;

}