@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
     margin: 5%;
     padding: -15%;
    box-sizing: content-box;
     color: #050c38;
      background-image: linear-gradient(#f2e6ee, #ffccf2);
}

h1{
    border: 4px solid #000000;
    border-radius: 300px 0 300px 0;
    margin: 5%;
    padding: 10%;
    background-color: #00033d;
    color: #b0aff4;
    font-size: 130px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

p{
    border: 2px solid #1b2062;
    background-color: #f2e6ee;
   font-size: 22px;
   margin: 0%;
   padding: 1%;
}

strong{
    font-size: 25px;
    color: #f09410;
}

h2{
    border: 2px solid #000000;
    background-color: #00033d;
    border-radius: 50px 50px 50px 50px ;
   font-size: 70px;
   text-align: center;
    color: #b0aff4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 10%;
}

p{
   font-size: 22px;
   border-radius: 50px 0 50px 50px ;
   text-align: center; 
   color: #050c38;
}


h3{
    font-size: 30px;
    text-align: center;
    box-sizing: content-box;
}

a{
    font-size: 40px;
 }


h4{
    font-size: 30px;
}

h5{
    font-size: 50px;
    text-align: center;
    color: #030059;
}

p1{
    font-size: 25px;

}

